.container{
    display: flex;
    padding: 10px;

}
.left{
    flex: 2;
    justify-content: space-between;

}
.right{
    flex: 1;
}
.imagecontainer{
    width: 100px;
    height: 100px;
    position: relative;
}
.table{
    width: 100%;
    border-spacing: 10px;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #d1411e;
}
.Total{
    font-weight: 500;
    font-size: 18px;
}
.price{
    font-weight: 500;
    font-size: 18px;
}
.Extra{
    font-weight: 500;
    font-size: 18px;
}
.Quantity{
    font-weight: 500;
    font-size: 18px;
    
}
.wrapper{
    width: 90%;
    max-height: 300px;
    background-color: #333;
    padding: 50px;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    color: white;
    flex-direction: column;
}
.totalTextTitle{
    margin-right: 10px;
}
.button{
    height: 30px;
    color: #d1411e;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 10px;
}
@media (max-width: 480px) {
    .container{
       flex-direction: column;
       padding :20px
    
    }
    .table{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .trTitle{
        display: none;
    }
    .tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .imagecontainer{
        widows: 30vw;
        height: 30vw;
    }
    .name,.Total{
        font-size: 24px;
    }
    .Quantity,.price,.Extra{
        font-size: 22px;
    }
    .price::before{
        content: "price";
        font-weight: 500;
    }
    .Quantity::before{
        content: "Quantity";
        font-weight: 500;
    }
    .Total::before{
        content: "Total";
        font-weight: 500;
    }
    .wrapper{
        width: 100%;
    }

}