.containers{
    height: calc(100vh - 100px);
    background-color: #d1411e;
    overflow: hidden;
    position: relative;
    
    
}
.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}
.wrapper{
    width: 300vw;
    height: 100%;
    display: flex;
    transition: 1.5s all ease-in-out;
}
.Imagecontainer{
    width: 100vw;
    height: 100%;
    position: relative;
}
@media (max-width: 480px) {
    .containers{ height: 50vh;
   }
}