.container{
    height: calc(100vh - 100px);
    background-color: #222;
    display: flex;
}
.item{
    flex: 1;
    position: relative;
    display: flex;
}
.item:last-child{
    flex: 2;
    padding: 50px;
    justify-content: space-between;
}
.card{
    flex: 1;
    padding: 0 20px;
}
.title{
    font-size: 25px;
    color: #b7903c;
    font-weight: bolder;
}
.list{
    color: lightgray;
    font-size: 18px;

}
.hi{
    color: rgb(219, 214, 214);
    font-weight: bold;
}

    

@media (max-width: 480px) {
    .container{
        height: auto;
        text-align: center;
    }
    .item:first-child{
        display: none;
    }
    .item{
        flex-direction: column;
    }
    .title{
        font-size: 30px;
    }
    .list{
        font-size: 20px;
    }
}