.container{
    height: 100px;
    padding: 0px 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item:nth-child(2){
    flex: 3;
    

}
.callButton{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    
}
.texts{
    margin-right: 20px;
    color: white;
}
.text:first-child{
    font-size: 13px;
    font-weight: 500;

}
.text:last-child{
    font-size: 20px;
    font-weight: bold;

}
.list{
    padding: 0px;
    display: flex;
    color: white;
    list-style: none;
    align-items: center;
}
.listItem{
    margin: 20px;
    font-weight: 500;

}
.item:last-child{
    justify-content: flex-end;
}
.cart{
    position: relative;
}
.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: white ;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
    padding: 3px;
    color: #d1411e;
    border-radius: 50%;
}
.logo{
    margin: 20px;
    color: #d1411e;
}