.container{
    padding: 50px;
    display: flex;


}
.left{
    flex: 2;
}
.table{
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
}
.row:last-child{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.done{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inprogress{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: inprogress ease 1s alternate infinite;
}
@keyframes inprogress{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.undone{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
}
.undone .checkedIcon, .inprogress .checkedIcon{
    display: none;
}
.right{
    flex: 1;
}
.wrapper{
    width: 90%;
    max-height: 300px;
    background-color: #333;
    padding: 50px;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    color: white;
    flex-direction: column;
}
.totalTextTitle{
    margin-right: 10px;
}
.button{
    background-color: white;
    height: 30px;
    color: teal;
    font-weight: bold;
    margin-top: 20px;
    cursor: not-allowed;
}
@media (max-width: 480px) {
    .container{
       flex-direction: column;
       
    
    }
    .trTitle{
        display: none;
    }
    .tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .id::before{
        content: "Order ID :";
        font-weight: 500;
    }
    .name::before{
        content: "Name :";
        font-weight: 500;
    }
    .address:before{
        content: "address :";
        font-weight: 500;
    }
    .Total:before{
        content: "Total :";
        font-weight: 500; 
    }
    .row:last-child{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .done,.inprogress.undone{
        margin-bottom: 20px;
    }
    .wrapper{
        width: 100%
        ;
    }

}
